{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center text-primary mt-5 mb-3">Распределение очков персонажа {{player.name}}</h1>
    <h1 class="text-center text-primary mt-5 mb-3">Количество: {{player.free_points}}</h1>
    <div class="row">
      <div class="offset-md-4 col-md-4 offset-md-4 col-12">
        <form method="post" >
          {% csrf_token %}
          <fieldset>
            

             <div>
                <label class="form-label mt-4">Выберите характеристику для увеличения</label>
                <select required class="form-select" name="charact">
                    {% for p_skill in p_skills %}
                    <option value="{{p_skill.id}}">{{p_skill.skill.title}}</option>   
                    {% endfor %}
                </select>
            </div>                            
            <button type="submit" class="btn btn-primary mt-3">Изменить</button>   
          </fieldset>
        </form>
      </div>
      <!-- /.offset-md-4 col-md-4 offset-md-4 col-12 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}