{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row mt-5 mb-3">
    <div class="col-md-4 col-12">
         {% include 'subnavbar.html' %}    
    </div>
    <div class="col-md-8 col-12">
        <h4>{{race.title}}</h4>
        <div class="row">
            <div class="col-md-6 col-12">
                {{race.descr}}
            </div>
            <div class="col-md-6 col-12">
                <img class="w-100" src="{{ race.img.url }}" alt="">
            </div>          
        </div>
    </div>
</div>
</div>

{% endblock %}