<h4>Справочники</h4>
        <div class="list-group">
            <a href="{% url 'races' %}" class="list-group-item list-group-item-action">Расы</a>
            <a href="{% url 'pclasses' %}" class="list-group-item list-group-item-action">Классы</a>
            <a href="{% url 'items' %}" class="list-group-item list-group-item-action">Предметы</a>
            <a href="{% url 'histories' %}" class="list-group-item list-group-item-action">Предыстории</a>
            <a href="{% url 'spells' %}" class="list-group-item list-group-item-action">Заклинания</a>
            <a href="{% url 'skills' %}" class="list-group-item list-group-item-action">Навыки</a>
        </div>    